<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="481533923687-g6ebs7d9cis87300sqe1c520i3t9g49e.apps.googleusercontent.com">
    <div class="banner">
        Simple Dating App
    </div>
    <div class="content-parent">
        <div class="content-box">
            <div class="content">
                <div class="content-text">
                    The journey to find your perfect partner starts here
                </div>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <form id="processAuth" action="/login" method="post">
                    <input id="tokenInput" type="text" name="token" style="display: none">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                </form>
            </div>
        </div>
    </div>
